@import " tailwindcss";
* {
    font-family: Roboto, sans-serif;
}
.active-nav {
  color: #9333ea !important;   /* purple */
  /* border-bottom: 3px solid #9333ea; */
}
.bg_image{
    background-image: url(../Assets/banner-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.overlay_banner{
     background: rgba(0, 0, 0, 0.5);
    padding: 85px 0px;
}
.active {
    background-color: #3a25c2;
    color: white;
}